
@{
    ViewData["Title"] = "AccountLockout";
}

<h1>Account Lockout</h1>
<h3 class="text-danger">
    Your account is locked, please try again later. Or you may
    <a asp-action="ForgotPassword" asp-controller="Account">reset your password by clicking here!</a>
</h3>

