@model UserClaimViewModel
@{
    ViewData["Title"] = "ManageUserClaim";
}

<h1>Manage User Claim</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            Manage user claims
        </div>

        <div class="card-body">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label">
                        @Model.Claims[i].ClaimType
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary">
                Cancel
            </a>
        </div>
    </div>
</form>